.button {
  border: none;
  background-color: transparent;
  outline-style: none;
  text-transform: capitalize;
  height: 50px;
  padding: 10px 20px;
  text-align: center;
  &:focus {
    outline-style: none;
  }
  &.primary {
    background-color: #0058a3;
    color: #ffffff;
  }
  .secondary {
    background-color: #ffffff;
    color: #0058a3;
  }
}
